!!!5
html(lang="en")
  head
    title #{title}   
  body(style='background:url(\'/_dashboard/static/img/#{code}.jpg\') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;')
    div(style='position:absolute; bottom: 0px; background-color:rgba(0,0,0,0.5);')
      p(style='font-family: "Lucida Console", sans-serif; font-size:250%; color:white;') #{message}
    